{% extends "learning_logs/base.html" %}
{% block content %}
<div class="container mt-3">
  <h2>Темы</h2>
  <ul class="list-group">
    {% for topic in topics %}
      <li class="list-group-item">
          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">Нет тем ¯\_(ツ)_/¯</li>
    {% endfor %}
  </ul>
  <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary mt-3">Добавить новую тему</a>
</div>
{% endblock content %}
